<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locator</title>
    <link rel="stylesheet" type="text/css" href="/resources/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
<header>
    <div class="header-content">
        <div>
            <h1>Locator</h1>
        </div>
        <img src="/resources/img/compass.svg" alt="compass">
    </div>
</header>

<main>
    <div id="map"></div>
    <div id="userList">
        <button id="liveButton">Žiju</button>
        <div class="userList-title">
            <h2>Users</h2>
        </div>
        <ul id="users"></ul>
    </div>
</main>

<footer>
    <div class="footer-content">
        <h2>Locator</h2>
    </div>
</footer>

<script type="application/javascript" src="/js/script.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>